<!doctype html>
<html>
    <head>
        <title>Movie Classification App</title>
        <link rel = "stylesheet" href = "{{url_for('static', filename = 'style.css')}}">
    </head>
    <body>
        <h2>Please enter your movie review!:</h2>
        {% from "_formhelpers.html" import render_field %}

        <form method = post action = "/results">
            <div>
                <dl> {{ render_field(form.movie_review, style="font-size:1.3em;" ,cols='80', rows='20')}} </dl>
                <input type = submit value="Submit review" name = 'submit_btn'>
            </div>
        </form>
    </body>
</html>
